*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	overflow-x:hidden;
	 font-family: "Raleway";
}

 .nav-sec .navbar-brand {
	color: #556270;
	font-weight: 600;
	font-size: 26px;
}
.nav-link {
	color: #556270 !important;
	font-weight: 500;
	padding-left:30px !important;
	
}
.red{
	background-color:red !important;
	border-color: red !important;
	margin-left: 20px;
   
}
.nav-link:hover{
	color:red !important;
}
@media(min-width:320px){
#none{
	display: none !important;
}

}
@media(min-width:768px){
#none{
	display: none !important;
}

}
@media(min-width:1024px){
#none{
	display: block !important;
}

}	


/* .carousel-inner */
/* { */
	/* text-align:center; */
	/* height:80vh; */
	/* width:100%;	 */
 
/* } */


/* .carousel-caption{ */
	/* text-align:center; */
	/* margin-bottom:300px; */
/* } */
/* .carousel-caption h5{ */
	/* color: white; */
    /* font-size: 50px; */
    /* font-weight: 900; */
	/* padding-bottom:30px; */
	/* font-style:none; */
	/* font-family: "Raleway", sans-serif; */
	/* word-spacing:1; */
	 
/* } */


/* .carousel-caption a{ */
	/* text-decoration:none; */
	/* background-color:#e94646; */
	/* color:#fff; */
	/* padding:10px; */
	
/* } */
/* .carousel-caption p{ */
	/* color:white; */
	/* font-size:18px; */
	/* font-weight:400; */
	/* letter-spacing:1px; */
     /* padding-bottom:40px; */
/* } */
/* .carousel-item img{ */
	/* filter:grayscale(50); */
	/* filter:opacity(50%); */
	/* background:linear-gradient(#00000080,#00000080); */
/* } */
.head h5{
	color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}
.head p {
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}
.head .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    line-height: 1;
    color: #fff;
    background: #d9232d;
	text-decoration:none;
}
.head .btn-get-started:hover{
	color:#d9232d;
    background:  #fff;
}
.inside{
	margin-bottom:150px;
}
.head{
	margin-top:75px;
}
@media(min-width:320px){
.head h5 {
    margin-bottom: 9px;
    font-size: 12px;
   
}
.head p {
    font-size: 7px;
    margin-bottom: 12px;
}

.head .btn-get-started {
    font-size: 7px;
    padding: 3px 9px;
}	
.inside{
	margin-bottom:0px;
}
}
@media(min-width:768px){
.head h5 {
     margin-bottom: 18px;
    font-size: 22px;
    

}
.head p {
    font-size: 15px;
    margin-bottom: 31px;
}

.head .btn-get-started {
	font-size: 9px;
    padding: 8px 13px;
}
.inside{
	margin-bottom:30px;
}
}
@media(min-width:1024px){
.head h5 {
    margin-bottom: 20px;
    font-size: 48px;
   

}
.head p {
    font-size: 22px;
    margin-bottom: 30px;
}

.head .btn-get-started {
	font-size: 14px;
    padding: 14px 32px;
}	
.inside{
	margin-bottom:150px;
}
}






.about {
    padding: 60px 0;
    overflow: hidden;
}
.about .content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.about .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}
.about p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
}
.about .content ul i {
    left: 0;
    top: 15px;
    position: absolute;
    font-size: 17px;
    color: #d9232d;
}











.clients {
    padding: 15px 0;
	background-color: #d3d3d37d;
}

.clients img {
    width: 45%;
    transition: all 0.4s ease-in-out;
    padding: 15px 0;
    filter: grayscale(100);
}
.clients img:hover{
	filter:grayscale(0);
	transform:scale(1.1);
}










.service {
    padding: 60px 0;
    overflow: hidden;
}
.service .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background-color: #d3d3d37d;
	display: flex;
    align-items: center;
    gap: 3%;
}


.service .icon-box i {
	color: #d9232d;
    font-size: 40px;
}
.service .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.service .icon-box h4 a {
    color: #556270;
	text-decoration:none;
	
}
.service .icon-box p {
    line-height: 24px;
    font-size: 14px;
}
.service .icon-box h4 a:hover {
	color:red;
}











.card-below{
	padding: 0 20px 30px 20px;
	text-align:center;
}
.card-below h4 {
    font-weight: 700;
    font-size: 18px;
	margin-top: 13px;
}
.card-below span {
    font-style: italic;
    font-size: 13px;
}
.card-below p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
.card-below .social a {
    color: #7e9486;
    transition: 0.3s;
	padding: 0 3px;
}
.card-below .social a:hover {
	color:green;
}
















/* .portfolio{ */
	/* padding:60px 0; */
	/* overflow: hidden; */
/* } */

/* .portfolio ul{ */
	/* display:flex; */
	/* list-style:none; */
	
/* } */
/* .portfolio ul li{ */
	/* cursor: pointer; */
    /* padding: 8px 15px 10px 15px; */
    /* font-size: 14px; */
    /* font-weight: 600; */
    /* line-height: 1; */
    /* text-transform: uppercase; */
    /* color: #444444; */
    /* margin-bottom: 5px; */
    /* transition: all 0.3s ease-in-out; */
    /* border-radius: 3px; */
/* } */

/* .portfolio ul li:hover{ */
    /* color: #fff; */
    /* background: #d9232d; */
/* } */
/* .colportfolio .portfolio-img{ */
    /* transition: 0.3s; */
    /* position: relative; */
    /* overflow: hidden; */
    /* z-index: 1; */
    /* background: rgba(85, 98, 112, 0.6); */
/* } */
/* .colportfolio .portfolio-img::before{ */
	    /* content: ""; */
    /* background: rgba(85, 98, 112, 0.6); */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* transition: all ease-in-out 0.3s; */
    /* z-index: 2; */
    /* opacity: 0; */
/* } */

/* .colportfolio:hover .rel,.portfolio-img{ */
	/* opacity:1; */
	/* z-index:1; */
/* } */

	
/* .colportfolio{ */
	/* position:relative; */
	/* padding: 15px 0px 0 0; */
	
/* } */
/* .rel{ */
	/* position:absolute; */
    /* opacity: 0; */
    /* bottom: 15px; */
    /* left: 35px; */
	/* z-index:-1; */
/* } */





.footer-sec {
	margin-top:50px;
	background:#fff;
	box-shadow:0px 2px 15px rgba(18, 66, 101, 0.08);
}
#footer {
    background: #4a5562;
    color: #fff;
    font-size: 14px;
	margin-top: 60px;
}



.footer-top {
  padding:50px 0px 30px ;
}

.footer-row .footer-contact h3 {
	font-size:26px; 
	padding:3px 0 3px 0;
	line-height:1;
	font-weight:300;
}

.footer-row .footer-contact p {
	font-size:14px;
	line-height:1.6;
	font-family: "Raleway", sans-serif;
	color:#777;
}

.footer-top .footer-links h4,
.footer-top .footer-services h4, 
.footer-top .footer-newsletter h4{
	font-size:16px;
	font-weight:700;
	color:white	;
	padding-bottom:12px;
}

.footer-col ol {
	list-style-type:none;
	
}
.footer-col ol i {
	padding-right:5px;
	color: #a4a8ad;
	font-size:12px;
	line-height:1;
}

.footer-col ol li {
	padding:10px 0;
	font-size:14px;
}

.footer-col ol a {
	color: #d7d3d3;
	text-decoration:none;
	line-height:1.2;
}

.footer-col a:hover{
	color:white;
}

.footer-newsletter p {
	font-size:15px;
	margin:15px 0 20px;
}

.footer-newsletter form {
	text-align: left;
}

.footer-newsletter .mail-input {
	  padding:4px 8px;
	  width:17vw;
	  height:5vh;
	  border-radius:4px 0 0 4px;
	  font-size:17px;
	  border:1px solid #cde5f6; 
	  border-right:none;
}

input:focus , textarea:focus{
	outline:none;
}

.footer-newsletter .submit-input {
  
  border:1px solid #f90606;
  padding:0 5px;
  height:5vh;
  font-size:12px;
  background:red;
  color:#fff;
  border-radius:0 4px 4px 0; 
  border-left:none;
  position: absolute;
    right: 70px;
}
.footer-links h4{
	padding-left: 2rem;
}
.footer-services h4{
	padding-left: 2rem;
}

.last{
	padding-bottom:30px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}
#footer .credits a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    font-weight: 600;
	text-decoration:none;
}
#footer .credits a:hover {
	color:white;
}










